.reply-container{
    display: flex;
    background-color: #1b1b1b;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
    padding: 10px;
    
}
.user-profile{
    padding: 10px;
}
.user-name{
    color: rgb(12,148,136);
}
.reply-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    color: rgb(217, 217, 217);
}
.reply-interaction{
    color: rgb(12,148,136);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
    background-color: #1b1b1b;
}
.reply-con{
    display: flex;
    justify-content: space-between;
}
.like{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.like-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: rgb(12,148,136);
    cursor: pointer;
}
.time{
    color: rgb(12,148,136);
}